.left-menu-cunstom{

}

.menu-link-section{
  padding-left: 25px;
  margin-bottom: 20px;

}

.menu-link-section_title{
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.menu-link-section_wrap-item{
  margin-top: 12px;
  padding-left: 12px;
  font-size: 14px;
  cursor: pointer;
}
.menu-link-section_item{
  display: flex;
  padding: 12px 8px;
  text-decoration: none;
  color: #111
}

.menu-link-section_item:hover{
  background-color: #E0EAFF;
  text-decoration: none;
}

.menu-link-section_item.active{
  color: #074EE8;

}

/* .menu-link-section_item:hover>.menu-link-section_item-link{
   color: #074EE8;
} */

